In [3]:
name = "Solomon2"

In [4]:
if(name=="Solomon"):
    print("Welcome Solomon")

In [8]:
number = 2
if (number>3):
    print("Number larger than 3")
else:
    print("Number equal or smaller than 3")

Number equal or smaller than 3

In [11]:
age = 25
gender = "Female"

if (age >18):
    print("You are older than 18 years old")
elif (age < 5):
    print("You are younger than 5 years old")
else:
    print("You are between 5 and 18 years old")

You are younger than 5 years old

In [24]:
age = 15
       
if (age>10):
    print("We can sell you a ticket")
    if (age<18):
        print("ticket price is $5")
    elif(age>60):
        print("ticket price is $7")
    else:
        print("ticket price is $15")

else:
    print("you cannot buy a ticket")

We can sell you a ticket
ticket price is $5

In [29]:
students = ["Solomon", "Jack", "Benjamin", "Udo", "Test"]
for x in students:
    print("Welcome to the class", x)

Welcome to the class Solomon
Welcome to the class Jack
Welcome to the class Benjamin
Welcome to the class Udo
Welcome to the class Test

In [31]:
print(4%2)

0

In [36]:
myArray = [2, 1, 6, 7, 14, 3, 4]
for x in myArray:
    if (x%2 == 0):
        print(x, " is an even number")
    else:
        print(x, "is an odd number")

2  is an even number
1 is an odd number
6  is an even number
7 is an odd number
14  is an even number
3 is an odd number
4  is an even number