In [2]:
x = 1
if x>0:
    print("X is larger than zero")

X is larger than zero

In [4]:
a = 12
10 = b

SyntaxError: can't assign to literal (<ipython-input-4-7a8c323efa01>, line 2)

In [9]:
name="Naji"
age = 39
test = 10.3
test_bool = True

type(test_bool)

bool

In [11]:
a = 5
b = 10

# Write a program that will switch the values of a & b

c = a
a = b
b = c

print(a)
print(b)

10
5

In [19]:
name = "Abdulhussein"
print(name[5:12])

hussein

In [22]:
print("My name is Naci\nDilekli")

My name is Naci
Dilekli

In [24]:
myList = ["Ali", 5, "Abdulhussein", -5, 10.1, "Shago"]
x = myList[3] + myList[4]
print(x)

5.1

In [25]:
print(myList[2][0:5])

Abdul

In [27]:
x = 5
X = 6
print(X)

6

In [30]:
myList[2] = "Hussein"
myList[1] = myList[3]*2 + myList[4]
print(myList)

['Ali', 0.09999999999999964, 'Hussein', -5, 10.1, 'Shago']

In [33]:
print(x)
x == 5

5

True

In [35]:
a = 10
b = 7
a>=b+3
c = 2

True

In [38]:
a > b or c+5 <= b

True

In [44]:
a = 3
b= 3
if (a > 5):
    print("a is larger than 5")
    if (b>7):
        print("b is larger than 7")
    else:
        print("b is smaller than 8")
elif (a > 2):
    print("a is between 3 and 4")
else:
    print("a is smaller than 2")

a is between 3 and 4

In [51]:
# tell if a customer can watch the game
# and calculate the ticket price based on the age
# customer needs to be over 15 years old, if not tell them
# they cannot watch the game
# if they are between 16 and 22 the ticket price is $15
# if between 23 and 60, the ticket price is $30
# and if older than 60, the ticket price is $20

age = 65
if (age>15):
    print("You can watch the game")
    if(age<23):
        print("the price is $15")
    elif(age<=60):
        print("the price is $30")
    else:
        print("the price is $20")
else:
    print("You cannot watch the game")
    
# download and install ANACONDA 3

# my email address: dilekli-n@rudn.ru

You can watch the game
the price is $20

In [57]:
# write a program that will tell if a person can/must go the
# military. all males above 18 and all females above 21 must
# go.

age = 18
gender = "female"

if (age>=18 and gender=="male") or (age>=21 and gender=="female"):
    print("you must go to the military")
else:
    print("you don't need to go to the military yet")

you don't need to go to the military yet

In [63]:
names = ["Ali", "Shago", "Hussein"]
for name in names:
    print("the third character in the name is: " + name[2])

the third character in the name is: i
the third character in the name is: a
the third character in the name is: s

In [62]:
name = "Naji"
age = 39
print("my name is " + name + ". My age is " + str(age))

my name is Naji. My age is 39

In [66]:
myArray = [2, 1, 6, 7, 14, 3, 4]
for number in myArray:
    if(number%2==0):
        print(str(number) + " is an even number")
    else:
        print(str(number) + " is an odd number")

2 is an even number
1 is an odd number
6 is an even number
7 is an odd number
14 is an even number
3 is an odd number
4 is an even number