In [1]:
Item_name = "Computer"
type(Item_name)

str

In [2]:
Item_name

'Computer'

In [3]:
Item_qty = 10

In [4]:
Item_value = 1000.23

In [5]:
Item_bool = True

In [6]:
12 = x

SyntaxError: can't assign to literal (<ipython-input-6-1dfa6eaf817a>, line 1)

In [9]:
type(Item_value)

float

In [10]:
a = ("Enter the first number: ")

In [11]:
5

5

In [12]:
print(a)

Enter the first number:

In [23]:
a = int(input("Enter the first number: "))

Enter the first number: 67

In [24]:
b = int(input("Enter the second number: "))

Enter the second number: 435

In [19]:
print("The first number you entered is " + a + ". The second number you entered is " + b)

The first number you entered is 6. The second number you entered is 11

In [25]:
print(a+b)

502

In [21]:
a + b

'611'

In [22]:
type(a)

str

In [26]:
a = 6

In [27]:
a

6

In [28]:
print("test", a, "test", b)

test 6 test 435

In [29]:
name = "Benjamin"

In [31]:
name[7]

'n'

In [32]:
name[7] = "A"

TypeError: 'str' object does not support item assignment

In [33]:
name[3:5]

'ja'

In [34]:
name[3:6]

'jam'

In [35]:
print("test tab\there")

test tab	here

In [36]:
print("test new line\nhere")

test new line
here

In [37]:
big_var = ["test", 1, 2, 6, 0, "Solomon"]

In [47]:
big_var[5]

'Solomon'

In [48]:
big_var[5][4]

'm'

In [51]:
big_var[0][1]

'e'

In [52]:
big_var[5] = "Benjamin"

In [53]:
print(big_var)

['test', 1, 2, 6, 0, 'Benjamin']

In [54]:
big_var[4] = "Solomon"

In [55]:
print(big_var)

['test', 1, 2, 6, 'Solomon', 'Benjamin']

In [56]:
big_var[6] = "Test"

IndexError: list assignment index out of range

In [57]:
4*7

28

In [58]:
1+2

3

In [59]:
varA = 5

In [60]:
varB = 10

In [61]:
print(varA * varB)

50

In [62]:
3/2

1.5

In [63]:
8%3

2

In [64]:
3%2

1

In [65]:
8//3

2

In [66]:
15//2

7

In [67]:
2**5

32

In [2]:
age = 10

In [3]:
type(age)

int

In [4]:
taskComplete = True

In [5]:
type(taskComplete)

bool

In [6]:
name = "Solomon"

In [8]:
name[4]

'm'

In [10]:
name[0:3]

'Sol'

In [15]:
print("testing newline \n here")

testing newline
 here

In [16]:
myList = [8, 4, 3, "Benjamin", 0, -1.5]

In [17]:
myList[2]

3

In [18]:
myList[3]

'Benjamin'

In [20]:
myList[3][3:6]

'jam'

In [22]:
myList[3] = myList[5]*2

In [ ]:
print(myList)

In [24]:
myList[0] = -5.6

In [25]:
print(myList)

[-5.6, 4, 3, -3.0, 0, -1.5]

In [26]:
myList[1] = myList[0] + myList[2]

In [27]:
print(myList)

[-5.6, -2.5999999999999996, 3, -3.0, 0, -1.5]

In [28]:
x = 5

In [29]:
y = 3

In [30]:
x > y

True

In [31]:
x == y

False

In [32]:
x < y

False

In [33]:
x >= y

True

In [34]:
x != y

True

In [38]:
age = 19
gender = "Male"

In [39]:
(age >= 18 and gender == "Male")

True

In [40]:
age >= 18

True

In [41]:
age > 19

False

In [42]:
age == 19

True

In [50]:
(age > 6 and age <19)
age =19
male = "Female"

In [51]:
if (age >=18 and gender == "Male"):
    print("Can go to military in Turkey")
else:
    print("Cannot go to the military")

Can go to military in Turkey